<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui, shrink-to-fit=no">
    <title>Blog | Damian Cwykiel</title>
    <link rel="icon" type="image/ico" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <div id="container">
      {{> header}}
      <main>
        <div class = "main-content courses-container">
          <div class ="courses-items-title" id="blog-title"> 
            <h1>This is my video blog</h1>
            <p>All interesting topics in one place</p>
          </div>
          <div class="projects-container"> 
            <div class="courses-item" id="blog"> 
              <h1>Content in progress...</h1>
              <img src="/images/loader.gif" style="height: 15rem; width: 28vw;"> 
              <h3>Published by {{logo}} {{getCurrentYear}}.</h3>
              <p>Text in progress...</p>
              <button class="button" id="blog-button">Watch Me</button>
            </div>
            <div class="courses-item" id="blog">
              <h1>Content in progress...</h1>
              <img src="/images/loader.gif" style="height: 15rem; width: 28vw;"> 
              <h3>Published by {{logo}} {{getCurrentYear}}.</h3>
              <p>Text in progress...</p>
              <button class="button" id="blog-button">Watch Me</button>
            </div>
            <div class="courses-item" id="blog">
              <h1>Content in progress...</h1>
              <img src="/images/loader.gif" style="height: 15rem; width: 28vw;"> 
              <h3>Published by {{logo}} {{getCurrentYear}}.</h3>
              <p>Text in progress...</p>
              <button class="button" id="blog-button">Watch Me</button>
            </div>
            <div class="courses-item" id="blog">
              <h1>Content in progress...</h1>
              <img src="/images/loader.gif" style="height: 15rem; width: 28vw;"> 
              <h3>Published by {{logo}} {{getCurrentYear}}.</h3>
              <p>Text in progress...</p>
              <button class="button" id="blog-button">Watch Me</button>
            </div>
            </div>
          </div>
        </div>
      </main>
      {{> footer}}
    </div>
  </body>
</html>
